extends layouts/common

block title
    title Все истории

block content
    ul
        each story, stub in stories
            - var url = "stories/" + stub + "/index.html"
            li.storyitem
                a.storylink(href=url title=story.title)= story.title
                p.excerpt= story.excerpt